<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../common/link.ejs %>
    <link rel="stylesheet" href="/css/signup_hire.css">
    <title>Sign In</title>
</head>
<body>
    <div class="text-center logo-center">
        <a href="/home"><img src="/images/black.png" width="245px;"></a>
    </div>
    
    <div class="center-div">
        <div class="pull-left">
            <font size="4"> 
                <a href="/home"><span class="fa fa-home"></span></a>                    
            </font>
        </div>
        <div class="text-center">
            <a href="/signin"><font class="signin"><strong>SIGN IN</strong></font></a>                                            
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/signup"><font class="signup"><strong>SIGN UP</strong></font></a>                
            <hr class="signup-hr">
        </div>
        <hr>
        <div class="pull-left">
            <a href="/signup"><button class="work-button"><strong>I want to work</strong></button></a>
            <hr class="hr-20px">            
        </div>
        <div class="pull-right">
            <a href="/signup/hire"><button class="hire-button active"><strong>I want to hire</strong></button></a>
            <hr class="hr-20px">            
        </div>
        <form method="POST" action="/signup">
            <div class="pull-left">
                <font class="" size="3" ><strong>Name</strong></font><hr class="hr-5px">         
                <input class="input-sm signin-input" type="text" placeholder="Example Myname" name="name" value="<%= data.name %>"><hr class="hr-22px">
            </div>
            <div class="pull-right">
                <font class="" size="3" ><strong>Username</strong></font><hr class="hr-5px">         
                <input class="input-sm signin-input" type="text" placeholder="example.Username" name="username" value="<%= data.username %>"><hr class="hr-22px">
            </div>
            <div class="pull-left">
                <font class="" size="3" ><strong>Email</strong></font><hr class="hr-5px">         
                <input class="input-sm signin-input" type="text" placeholder="example@gmail.com" name="email" value="<%= data.email %>"><hr class="hr-22px">
            </div>
            <div class="pull-right">
                <font class="" size="3" ><strong>Password</strong></font><hr class="hr-5px">          
                <input class="input-sm signin-input" type="password" placeholder="######" name="password" value="<%= data.password %>"><hr class="hr-22px">
            </div>
            <div class="pull-left">
                <font class="" size="3" ><strong>Please choose your profile picture</strong></font><hr class="hr-5px">          
                <input class="input-sm signin-input" type="file" placeholder="######" name="img" value="<%= data.img %>" required><hr class="hr-22px">
            </div>
            <input type="hidden" value="client" name="type">
            <% if(typeof errors != "undefined"){ %>
                <% errors.forEach(function(err){ %>
                    <%= err.msg %><br>
                <% }); %>
            <% } %>
            <div class="text-center">
                <button class="create-button"><strong>Create Account</strong></button>
                <span class="error">already exist</span>
            </div>
        </form>
        <div class="text-center">
            <hr class="hr-or">
            <font class="" size="3" ><strong>OR</strong></font><hr class="hr-or">     
        </div>
        <div class="pull-left">
            <button class="gmail-button active fa fa-google">&nbsp;&nbsp;&nbsp;&nbsp;Log In With Gmail</strong></button>
        </div>
        <div class="pull-right">
            <button class="fb-button fa fa-facebook">&nbsp;&nbsp;&nbsp;&nbsp;Log In With Facebook</strong></button>
        </div>
    </div>
</body>
</html>